# ~/.config/systemd/user/gnome-session-flashback-xmonad.target

[Unit]
Description=User systemd services for the GNOME Flashback (Xmonad) sessions
Requires=graphical-session-pre.target
Requires=indicators-pre.target
# start/tear down graphical-session.target along with the ubuntu session
BindsTo=graphical-session.target
# session leader -- if this dies, die along with it
BindsTo=gnome-session-xmonad.service
# here we list the indicators that we want to load
Wants=indicator-application.service
Wants=indicator-bluetooth.service
Wants=indicator-datetime.service
Wants=indicator-keyboard.service
Wants=indicator-messages.service
Wants=indicator-power.service
Wants=indicator-session.service
Wants=indicator-sound.service
Wants=indicator-printers.service
